*.egg-info
.eggs
__pycache__
build
dist
.idea/*

*.DS_Store*

# setuptools_scm
eqgat/_version.py

experiments/rsr/data/*
!experiments/rsr/data/*.gitkeep
experiments/rsr/models/*
!experiments/rsr/models/*.gitkeep

experiments/psr/data/*
!experiments/psr/data/*.gitkeep
experiments/psr/models/*
!experiments/psr/models/*.gitkeep

experiments/lba/data/*
!experiments/lba/data/*.gitkeep
experiments/lba/models/*
!experiments/lba/models/*.gitkeep

experiments/res/data/*
!experiments/res/data/*.gitkeep
experiments/res/models/*
!experiments/res/models/*.gitkeep

experiments/ppi/data/*
!experiments/ppi/data/*.gitkeep
experiments/ppi/models/*
!experiments/ppi/models/*.gitkeep

experiments/synthetic/data/*
!experiments/synthetic/data/example_structure.png
!experiments/synthetic/data/*.gitkeep
experiments/synthetic/models/*
!experiments/synthetic/models/*.gitkeep